/*RESET*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", "Calibri", "Trebuchet MS", sans-serif;
}

body {
  background: #ffb0e4;
  background: linear-gradient(to right, #ffb0e4, #ffceee);
  background-position: center;
  flex-wrap: wrap;
  height: 100%;
}

.nav {
  display: flex;
  width: auto;
  height: auto;
}
@media screen and (max-width: 480px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 375px) {
  .nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px;
    padding: 5px;
    width: auto;
    height: auto;
  }
}
.nav a {
  color: white;
}

/*Inicio*/
.card {
  width: 95%;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  background: #ffb0e4;
  background: linear-gradient(to right, #ffb0e4, #ffceee);
}
.card .container {
  width: auto;
}
.card div a {
  color: #000;
}

/*Complejos*/
.complejos {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  background-color: transparent;
}
@media screen and (max-width: 1440) {
  .complejos {
    display: flex;
    width: 100%;
  }
}
@media screen and (max-width: 1024) {
  .complejos {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .complejos {
    display: flex;
    flex-direction: column;
    max-width: 760px;
  }
}
@media screen and (max-width: 480px) {
  .complejos {
    max-width: 480px;
  }
}
@media screen and (max-width: 375px) {
  .complejos {
    max-width: 367px;
  }
}
.complejos img {
  display: flex;
  width: 500px;
}
@media screen and (min-width: 1440px) {
  .complejos img {
    width: 700px;
  }
}
@media screen and (max-width: 1024) {
  .complejos img {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .complejos img {
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  .complejos img {
    display: none;
  }
}
@media screen and (max-width: 375px) {
  .complejos img {
    display: none;
  }
}
.complejos ul {
  margin: 10px;
  padding: 10px;
  /*a pertenecientes a las direcciones de los clubes y los button con sus redirecciones para encontrar las paginas web"*/
}
.complejos ul a {
  padding: 0;
  margin: 0;
  color: grey;
}
.complejos ul button {
  width: 100px;
}

/*Recomendaciones*/
.contenedor-r {
  width: 100%;
}
.contenedor-r form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  /*Cuadros de texto del form*/
  /*Boton para enviar formulario*/
}
.contenedor-r form section {
  display: flex;
  flex-direction: column;
  width: 40%;
  /*Selector del form*/
}
.contenedor-r form section p {
  margin: 0;
  padding: 0;
  justify-content: left;
}
.contenedor-r form div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
}
@media screen and (max-width: 480px) {
  .contenedor-r form div {
    width: 90%;
  }
}
@media screen and (max-width: 375px) {
  .contenedor-r form div {
    width: 90%;
  }
}
.contenedor-r form p {
  display: flex;
  flex-direction: row;
  justify-content: right;
  margin: 20px;
  padding: 20px;
}

/*Gracias*/
.gracias {
  padding-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.gracias h1 {
  margin: 10px;
}
.gracias img {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 200px;
}
.gracias p {
  padding-bottom: 100px;
}

/*Contacto*/
.b-contacto {
  width: 100%;
  height: 100%;
}
.b-contacto ol {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 80%;
  width: 80%;
  padding: 10px;
  margin: 10px;
  /*Logos de redes sociales*/
}
@media screen and (max-width: 480px) {
  .b-contacto ol {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 375px) {
  .b-contacto ol {
    display: flex;
    flex-direction: column;
  }
}
.b-contacto ol img {
  display: block;
  width: 70px;
  margin: 10px;
  padding: 10px;
}

/*Nosotros*/
.accordion-item {
  margin: 100px;
  background: #ffb0e4;
  background: linear-gradient(to right, #ffb0e4, #ffceee);
  width: 80%;
}
@media screen and (min-width: 1440px) {
  .accordion-item {
    width: auto;
    margin: 100px;
    padding: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .accordion-item {
    width: auto;
    margin: 50px;
    padding: 50px;
  }
}
@media screen and (max-width: 768px) {
  .accordion-item {
    width: auto;
    margin: 20px;
    padding: 20px;
  }
}
@media screen and (max-width: 480px) {
  .accordion-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    width: auto;
  }
}
@media screen and (max-width: 375px) {
  .accordion-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    width: auto;
  }
}
.accordion-item h2 button {
  background-color: #000;
  color: #ffb0e4;
}/*# sourceMappingURL=estilos.css.map */